@charset "UTF-8";
/* type: tag, page, both */
a.tag[data-ref=inbox] {
  border-color: inherit !important;
  background: inherit !important;
  color: inherit !important;
}
a.tag[data-ref=inbox]::before {
  content: "📥 ";
  display: inline-block;
}

a.tag[data-ref="mit 3"] {
  border-color: inherit !important;
  background: inherit !important;
  color: inherit !important;
}
a.tag[data-ref="mit 3"]::before {
  content: "⭐ ";
  display: inline-block;
}

a.tag[data-ref="daily reading"] {
  border-color: inherit !important;
  background: inherit !important;
  color: inherit !important;
}
a.tag[data-ref="daily reading"]::before {
  content: "📖 ";
  display: inline-block;
}

a.tag[data-ref=tasks] {
  border-color: inherit !important;
  background: inherit !important;
  color: inherit !important;
}
a.tag[data-ref=tasks]::before {
  content: "💻 ";
  display: inline-block;
}

a.tag[data-ref="daily log"] {
  border-color: inherit !important;
  background: inherit !important;
  color: inherit !important;
}
a.tag[data-ref="daily log"]::before {
  content: "📃 ";
  display: inline-block;
}

a.tag[data-ref^=project] {
  border-color: #b6fff5 !important;
  background: #b6fff5 !important;
  color: #000 !important;
}
a.tag[data-ref^=project]::before {
  content: "🎯 ";
  display: inline-block;
}

a.page[data-ref^=project] {
  border-color: inherit !important;
  background: inherit !important;
  color: inherit !important;
}
a.page[data-ref^=project]::before {
  content: "🎯 ";
  display: inline-block;
}

a[data-ref^=resource] {
  border-color: inherit !important;
  background: inherit !important;
  color: inherit !important;
}
a[data-ref^=resource]::before {
  content: "🗂️ ";
  display: inline-block;
}

a.tag[data-ref^=fitiness] {
  border-color: #87c843 !important;
  background: #87c843 !important;
  color: #000 !important;
}
a.tag[data-ref^=fitiness]::before {
  content: "🏋️ ";
  display: inline-block;
}

a.tag[data-ref=example] {
  border-color: #41e5eb !important;
  background: #41e5eb !important;
  color: #000 !important;
}
a.tag[data-ref=example]::before {
  content: "🔎 ";
  display: inline-block;
}

a.tag[data-ref=question] {
  border-color: #FFB6C1 !important;
  background: #FFB6C1 !important;
  color: #000 !important;
}
a.tag[data-ref=question]::before {
  content: "❓ ";
  display: inline-block;
}

a.tag[data-ref^=recommend] {
  border-color: #fd7b2f !important;
  background: #fd7b2f !important;
  color: #000 !important;
}
a.tag[data-ref^=recommend]::before {
  content: "❤️ ";
  display: inline-block;
}
