@charset "UTF-8";
[data-ref=inbox]::before {
  content: "📥 ";
  display: inline-block;
}

[data-ref="mit 3"]::before {
  content: "⭐ ";
  display: inline-block;
}

[data-ref="daily reading"]::before {
  content: "📖 ";
  display: inline-block;
}

[data-ref=tasks]::before {
  content: "💻 ";
  display: inline-block;
}

[data-ref="daily log"]::before {
  content: "📃 ";
  display: inline-block;
}

[data-ref^=project] {
  border-color: #b6fff5 !important;
  background: #b6fff5 !important;
  color: #000 !important;
}
[data-ref^=project]::before {
  content: "🎯 ";
  display: inline-block;
}

[data-ref^=resource]::before {
  content: "🗂️ ";
  display: inline-block;
}

a.tag[data-ref^=fitiness] {
  border-color: #87c843 !important;
  background: #87c843 !important;
  color: #000 !important;
}
a.tag[data-ref^=fitiness]::before {
  content: "🏋️ ";
  display: inline-block;
}

a.tag[data-ref^=example] {
  border-color: #41e5eb !important;
  background: #41e5eb !important;
  color: #000 !important;
}
a.tag[data-ref^=example]::before {
  content: "🔎 ";
  display: inline-block;
}

a.tag[data-ref=question] {
  border-color: #FFB6C1 !important;
  background: #FFB6C1 !important;
  color: #000 !important;
}
a.tag[data-ref=question]::before {
  content: "❓ ";
  display: inline-block;
}

a.tag[data-ref^=recommend] {
  border-color: #ed5133 !important;
  background: #ed5133 !important;
  color: #000 !important;
}
a.tag[data-ref^=recommend]::before {
  content: "❤️ ";
  display: inline-block;
}
