a.tag[data-ref="fleeting notes"] {
  background: #FFFFFF;
  background-size: 100%;
  color: #000000;
  padding: 2px 5px 2px 5px;
  font-size: 13px;
  line-height: 1em;
  font-weight: 500;
  border-radius: 5px 5px 5px 5px;
  border-color: #f21da140;
  border-style: solid;
  border-width: thin;
  position: relative;
  box-shadow: 0px 1px 3px -1px #f21da140, 0px -1px 5px #DFDFDF;
}

a.tag[data-ref="literature notes"] {
  background: #FFFFFF;
  background-size: 100%;
  color: #000000;
  padding: 2px 5px 2px 5px;
  font-size: 13px;
  line-height: 1em;
  font-weight: 500;
  border-radius: 5px 5px 5px 5px;
  border-color: #215F0040;
  border-style: solid;
  border-width: thin;
  position: relative;
  box-shadow: 0px 1px 3px -1px #215F0040, 0px -1px 5px #DFDFDF;
}

a.tag[data-ref="permanent notes"] {
  background: #FFFFFF;
  background-size: 100%;
  color: #FFFFFF;
  padding: 2px 5px 2px 5px;
  font-size: 13px;
  line-height: 1em;
  font-weight: 500;
  border-radius: 5px 5px 5px 5px;
  border-color: inherit;
  border-style: solid;
  border-width: thin;
  position: relative;
  box-shadow: 0px 1px 3px -1px inherit, 0px -1px 5px #DFDFDF;
  background-image: linear-gradient(90deg, #1DA1F2, #1DB6F2);
}

a.tag[data-ref="relevant notes"] {
  background: #FFFFFF;
  background-size: 100%;
  color: #1DA1F2;
  padding: 2px 5px 2px 5px;
  font-size: 13px;
  line-height: 1em;
  font-weight: 500;
  border-radius: 5px 5px 5px 5px;
  border-color: #000000;
  border-style: solid;
  border-width: thin;
  position: relative;
  box-shadow: 0px 1px 3px -1px #000000, 0px -1px 5px #DFDFDF;
}

a.tag[data-ref="reference notes"] {
  background: #FFFFFF;
  background-size: 100%;
  color: #000000;
  padding: 2px 5px 2px 5px;
  font-size: 13px;
  line-height: 1em;
  font-weight: 500;
  border-radius: 5px 5px 5px 5px;
  border-color: #f26e1d40;
  border-style: solid;
  border-width: thin;
  position: relative;
  box-shadow: 0px 1px 3px -1px #f26e1d40, 0px -1px 5px #DFDFDF;
}
