/* 个人适配使用 */


/* 宽屏模式下 代码也变宽 */

.extensions__code>.CodeMirror {
    max-width: 100% !important;
}

table.mytable {
    border-collapse: collapse;
    border-spacing: 0;

    td {
        text-align: center;
        vertical-align: middle;
        border-color: #e9ecef;
        border-style: solid;
        border-width: 1px;
     
    }
    th {
        text-align: center;
        vertical-align: middle;
        border-color: #e9ecef;
        border-style: solid;
        border-width: 1px;
    }
}