/* 个人适配使用 */


/* 评论系统宽度 */

.giscus .giscus-frame {
    margin: 0 max(10%, 250px) 0 max(10%, 250px);
    width: calc(100% - 2 * max(10%, 250px));
}


/* 宽屏模式下 代码也变宽 */

.extensions__code>.CodeMirror {
    max-width: 100% !important;
}

table.mytable {
    border-collapse: collapse;
    border-spacing: 0;
    td {
        text-align: center;
        vertical-align: middle;
        border-color: #e9ecef;
        border-style: solid;
        border-width: 1px;
    }
    th {
        text-align: center;
        vertical-align: middle;
        border-color: #e9ecef;
        border-style: solid;
        border-width: 1px;
    }
}


/*ios 展开交互开始*/


/* html.is-ios .block-control {
  position: absolute;
  right: 0px;
  margin-right: -14px;
}

html.is-ios div[haschild=true] > div > div > .block-control .control-hide, .block-control:hover .control-hide {
  display: block;
}

html.is-ios div[haschild=true] > div > div > .block-control svg[aria-hidden=true] {
  width: 24px;
  height: 24px;
}

html.is-ios div[haschild=true] > div > div > .block-control .collapsed svg[aria-hidden=true] {
  transform: rotate(180deg);
}

html.is-ios .page-blocks-inner {
  padding-left: 10px;
  padding-right: 4px;
} */


/*ios 展开交互结束*/