$marks:( // 注释用来防止格式化合并
'yellow':#fff3a3, //
'pink':#f2b3cf, //
'blue':#b5d3ff, //
'green':#bbfabb, //
'red': #ff5582, //
'grey':#cacfd9, //
'gray':#cacfd9, //
'orange':#ffb86c, //
'purple':#d2b3ff, //
);
$decoration-style: underline;
// mark style
mark {
    text-decoration: $decoration-style;
    text-decoration-thickness: 3px;
    text-underline-offset: -1px;
    text-decoration-color: #ffc600;
    @each $class,
    $color in $marks {
        &.#{$class} {
            text-decoration-color: $color;
        }
    }
}

// data-ref style
@each $class,
$color in $marks {
    span[data-ref="##{$class}"] {
        display: none;
        &+mark {
            background: unset;
            text-decoration-color: $color;
        }
    }
    span[data-ref="\$#{$class}"] {
        display: none;
        &+mark {
            background: unset;
            color: $color;
            text-decoration: unset;
        }
    }
    mark.\##{$class} {
        text-decoration-color: $color;
        background: unset;
    }
    mark.\$#{$class} {
        color: $color;
        text-decoration: unset;
        background: unset;
    }
}