mark {
    text-decoration-color: #ffc600;
    .yellow {
        text-decoration-color: #fff3a3;
    }
    .pink {
        text-decoration-color: #f2b3cf;
    }
    .blue {
        text-decoration-color: #b5d3ff;
    }
    .green {
        text-decoration-color: #bbfabb;
    }
    .red {
        text-decoration-color: #ff5582;
    }
    .grey {
        text-decoration-color: #cacfd9;
    }
    .gray {
        text-decoration-color: #cacfd9;
    }
    .orange {
        text-decoration-color: #ffb86c;
    }
    .purple {
        text-decoration-color: #d2b3ff;
    }
}