@mixin zettel-box($border-color:#000000, $color: #000000) {
    background: #FFFFFF;
    background-size: 100%;
    color: $color;
    padding: 2px 5px 2px 5px;
    font-size: 13px;
    line-height: 1em;
    font-weight: 500;
    border-radius: 5px 5px 5px 5px;
    border-color: $border-color;
    border-style: solid;
    border-width: thin;
    position: relative;
    box-shadow: 0px 1px 3px -1px $border-color, 0px -1px 5px #DFDFDF;
}

a.tag[data-ref="fleeting notes"] {
    @include zettel-box( #f21da140);
}

a.tag[data-ref="literature notes"] {
    @include zettel-box(#215F0040);
}

a.tag[data-ref="permanent notes"] {
    @include zettel-box($border-color: inherit, $color: #FFFFFF);
    background-image: linear-gradient(90deg, #1DA1F2, #1DB6F2);
}

a.tag[data-ref="relevant notes"] {
    @include zettel-box($color: #1DA1F2);
}

a.tag[data-ref="reference notes"] {
    @include zettel-box(#f26e1d40);
}